language: node_js
node_js:
- '0.11'
- '0.10'
deploy:
  provider: npm
  email: me@samcday.com.au
  api_key:
    secure: N1pXQfcwpMcOexiCDBRXYfQ3WbJP+9RNZZbayb1iNFuhEm50/HxJLdUcV8UInxKkUuS5lSIsWX1KbPKEEtbo6IR5wLTpVUzfYblVmYQI6yoI1XjhcBdYVdlS1uKZUD5ACEfV3Ut112G70XcWks3Drf7/zAuAdvlR3A1mT4E96jQ=
  on:
    tags: true
    repo: samcday/clusterphone
